/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/components/cursor/style.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_cursor__wAW9W {
  opacity: 0;
  z-index: 9999;
  position: fixed;
  width: 15px;
  height: 15px;
  background-color: hsl(var(--foreground));
  border-radius: 50%;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  mix-blend-mode: difference;
  background-color: white;
}
.style_cursor__wAW9W.style_hidden__LnPgj {
  opacity: 0;
}
.style_cursor__wAW9W.style_visible__xhkrs {
  opacity: 1;
}
