/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/components/cursor/style.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_cursor__wAW9W {
  opacity: 0;
  z-index: 9999;
  position: fixed;
  width: 15px;
  height: 15px;
  background-color: hsl(var(--foreground));
  border-radius: 50%;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  mix-blend-mode: difference;
  background-color: white;
}
.style_cursor__wAW9W.style_hidden__LnPgj {
  opacity: 0;
}
.style_cursor__wAW9W.style_visible__xhkrs {
  opacity: 1;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/components/sections/header/cozy/style.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_header__0AObe {
  z-index: 20;
  background-color: hsl(var(--background)/0.8);
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}
.style_header__0AObe .style_background__lVvCh {
  background-color: hsl(240, 10%, 3.9%);
  opacity: 0.5;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 100%;
}
.style_header__0AObe .style_bar__qCGks {
  display: flex;
  justify-content: flex-end;
  text-transform: lowercase;
  font-size: 12px;
  font-weight: 400;
  position: relative;
}
.style_header__0AObe .style_bar__qCGks p {
  margin: 0px;
}
.style_header__0AObe .style_bar__qCGks a {
  text-decoration: none;
  color: hsl(var(--foreground));
  position: absolute;
  left: 0;
}
.style_header__0AObe .style_bar__qCGks .style_shopContainer__Zoa12 {
  display: flex;
  gap: 30px;
  position: absolute;
  right: 0;
}
.style_header__0AObe .style_bar__qCGks .style_shopContainer__Zoa12 .style_shop__r7kUS {
  display: none;
}
.style_header__0AObe .style_bar__qCGks .style_el__wMtwi {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
}
.style_header__0AObe .style_bar__qCGks .style_el__wMtwi .style_label__zvGgh {
  position: relative;
  display: flex;
  align-items: center;
}
.style_header__0AObe .style_bar__qCGks .style_el__wMtwi p:nth-of-type(2) {
  position: absolute;
  opacity: 0;
}
.style_header__0AObe .style_bar__qCGks .style_el__wMtwi .style_burger__bxU6v {
  width: 22.5px;
  position: relative;
  pointer-events: none;
}
.style_header__0AObe .style_bar__qCGks .style_el__wMtwi .style_burger__bxU6v::after, .style_header__0AObe .style_bar__qCGks .style_el__wMtwi .style_burger__bxU6v::before {
  content: "";
  height: 1px;
  width: 100%;
  background-color: hsl(var(--foreground));
  position: relative;
  display: block;
  transition: all 1s cubic-bezier(0.76, 0, 0.24, 1);
}
.style_header__0AObe .style_bar__qCGks .style_el__wMtwi .style_burger__bxU6v::after {
  top: -4px;
}
.style_header__0AObe .style_bar__qCGks .style_el__wMtwi .style_burger__bxU6v::before {
  top: 4px;
}
.style_header__0AObe .style_bar__qCGks .style_el__wMtwi .style_burgerActive__mzvfs::after {
  transform: rotate(45deg);
  top: -1px;
}
.style_header__0AObe .style_bar__qCGks .style_el__wMtwi .style_burgerActive__mzvfs::before {
  transform: rotate(-45deg);
  top: 1px;
}

@media only screen and (min-width: 600px) {
  .style_header__0AObe {
    padding: 20px;
  }
  .style_header__0AObe .style_bar__qCGks {
    font-size: 15px;
  }
  .style_header__0AObe .style_shop__r7kUS {
    display: block;
    cursor: pointer;
  }
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/components/sections/header/cozy/nav/style.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_nav__xhons {
  overflow: hidden;
}
.style_nav__xhons .style_wrapper__jsrfo {
  position: relative;
  display: flex;
  gap: 50px;
  margin-bottom: 12px;
}
.style_nav__xhons .style_container__xiTPj {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (min-width: 1000px) {
  .style_nav__xhons .style_wrapper__jsrfo {
    margin-bottom: 0px;
    justify-content: space-between;
  }
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/components/sections/header/cozy/nav/body/style.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_body__HOBlV {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
.style_body__HOBlV a {
  color: hsl(var(--foreground));
  text-decoration: none;
  text-transform: uppercase;
}
.style_body__HOBlV p {
  margin: 0px;
  display: flex;
  overflow: hidden;
  font-size: 32px;
  padding-right: 30px;
  padding-top: 10px;
  font-weight: 350;
}

@media only screen and (min-width: 1000px) {
  .style_body__HOBlV {
    max-width: 1200px;
    margin-top: 80px;
  }
  .style_body__HOBlV p {
    font-size: 5vw;
    padding-right: 2vw;
  }
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/components/sections/header/cozy/nav/image/style.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_imageContainer__ZSvSq {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .style_imageContainer__ZSvSq {
    display: block;
    width: 500px;
    height: 450px;
    position: relative;
  }
  .style_imageContainer__ZSvSq img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}
